services:
  app:
    build: .
    restart: always

    expose:
      - "8001"

    environment:
      # PostgreSQL
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      PGVECTOR_PASSWORD: ${PGVECTOR_PASSWORD}

      # Redis
      REDIS_HOST: ${REDIS_HOST}
      SENHA_REDIS: ${SENHA_REDIS}

      # Evolution API
      BASE_URL_EVO: ${BASE_URL_EVO}
      API_KEY_EVO: ${API_KEY_EVO}
      API_TOKEN_GLOBAL_EVO: ${API_TOKEN_GLOBAL_EVO}
      INSTANCE_NAME: ${INSTANCE_NAME}

      # APIs externas
      GROQ_API_KEY: ${GROQ_API_KEY}
      BEARER_AUDIO_TRANSCRIPTION: ${BEARER_AUDIO_TRANSCRIPTION}
      GEMINI_API_KEY: ${GEMINI_API_KEY}